gym
pygame
# NOTE: Adding these repos as requirements, and if modifications were made (for
# instance with gym-ple, it seems like we're using an older version of their repo)
# then we add a fork of that repo as a dependency.
opencv-python
matplotlib
dataclasses;python_version<'3.7'
gym_ple @ git+https://github.com/lebrice/gym-ple.git#egg=gym_ple
ple @ git+https://github.com/ntasfi/PyGame-Learning-Environment.git#egg=ple
# I don't think this is really necessary if we just want to create the environment:
# The only reason that I can see is the option of vectoring those environments,
# which has since been added directly to gym as `gym.vector`. 
# However if want to retain the ability to render these vectorized envs, then we'd
# need to use a fork of gym that adds it.
# baselines @ git+https://github.com/openai/baselines.git